.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


{/*board*/}
.board-list{
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
  margin: 0;
  display: grid;
  /*grid-template-columns: 200px 200px 200px;*/
  justify-content: center;
}

{/*board cell*/}
.square-container{
/*  display: grid;
  height: 150px;
  width: 150px;
  border:1px solid black;
  align-items: center;
  font-size: 2em;*/
  background-color: beige;
  cursor: pointer;
}

{/*reset button*/}
.button1 {
  background-color: #0E89C7;
  border: none;
  color: white;
  font-size: 1em;
  text-align: center;
  display: inline-block;
  height: 40px;
  width: 80px;
  border-radius: 999px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;

}

.button1:hover {
  background-color: #E8134F;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.record{
  color: #008080;
}

input{
  width: 40px;
  text-align: center;
  font-size: 0.9em;
}

.space{
  margin-left: 10px;
  margin-right: 10px;
}